**
!Makefile
!containers/**
!packages/cli/**
!packages/operator/main.go
!packages/operator/cmd/**
!packages/operator/pkg/**
!packages/operator/docs/**
!packages/operator/api/**
!packages/operator/controllers/**
!packages/operator/hack/**
!packages/operator/go.mod
!packages/operator/go.sum
!packages/operator/.golangci.yml
!packages/operator/Makefile
!packages/operator/PROJECT
!packages/operator/vendor
!packages/feedback/cmd/**
!packages/feedback/pkg/**
!packages/feedback/templates/**
!packages/feedback/Gopkg.toml
!packages/feedback/Gopkg.lock
!packages/feedback/Makefile
!packages/robot/**
!packages/sdk/**
!packages/services/**
!packages/tests/**
!packages/toolchains/**
!scripts/**
