**
!Makefile
!containers/**
!odahuFlow/cli/**
!odahuFlow/operator/cmd/**
!odahuFlow/operator/pkg/**
!odahuFlow/operator/docs/**
!odahuFlow/operator/templates/**
!odahuFlow/operator/hack/**
!odahuFlow/operator/Gopkg.toml
!odahuFlow/operator/Gopkg.lock
!odahuFlow/operator/.golangci.yml
!odahuFlow/operator/Makefile
!odahuFlow/operator/PROJECT
!odahuFlow/feedback-aggregator/cmd/**
!odahuFlow/feedback-aggregator/pkg/**
!odahuFlow/feedback-aggregator/templates/**
!odahuFlow/feedback-aggregator/Gopkg.toml
!odahuFlow/feedback-aggregator/Gopkg.lock
!odahuFlow/feedback-aggregator/Makefile
!odahuFlow/robot/**
!odahuFlow/sdk/**
!odahuFlow/services/**
!odahuFlow/tests/**
!odahuFlow/toolchains/**
!scripts/**
