**
!Makefile
!containers/**
!packages/cli/**
!packages/operator/cmd/**
!packages/operator/pkg/**
!packages/operator/docs/**
!packages/operator/templates/**
!packages/operator/hack/**
!packages/operator/Gopkg.toml
!packages/operator/Gopkg.lock
!packages/operator/.golangci.yml
!packages/operator/Makefile
!packages/operator/PROJECT
!packages/feedback/cmd/**
!packages/feedback/pkg/**
!packages/feedback/templates/**
!packages/feedback/Gopkg.toml
!packages/feedback/Gopkg.lock
!packages/feedback/Makefile
!packages/robot/**
!packages/sdk/**
!packages/services/**
!packages/tests/**
!packages/toolchains/**
!scripts/**
